@model FreebirdTech.Models.Servico

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Servico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BriefDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BriefDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GigCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GigCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
